node_modules/
*.iml
*.log
**/*.log
**/*.bak
.gitmodules
*.lock
**/*.log.*
**/.DS_Store

### VisualStudioCode ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

### examplesAngular ###
examplesAngular/node_modules/
examplesAngular/src/**.js
examplesAngular/src/**.js.map
examplesAngular/src/**.map
examplesAngular/src/**.css

### 01-dataTypes ###
01-dataTypes/**.js