$bootstrap-sass-asset-helper: false !default;
//
// Variables
// --------------------------------------------------

$border-radius:			15px;

//ICBC Colors
$brand-primary: #c4161c ;
$brand-primary-hover: #9b000a ;
$brand-secondary: #6f6f6f ;
$brand-secondary-hover: #3f3f3f ;

//Colors for backgrounds and lines
$brand-background: #f3f4f4 ;
$brand-stroke: #e1e1e1;
$brand-tableLine: $brand-stroke;

//Colors for fonts only
$brand-font-link: #31a1d4 ;
$brand-font-header: #333333 ;
$brand-font-darkBlueGrey: #4d565f ;
$brand-font-blueGrey: #818b95 ;
$brand-font-darkGrey: #676767 ;
$brand-font-grey: #bfbebe ;

//Feedback Colors
$brand-danger: $brand-primary;
$brand-warning: #96722e ;
$brand-success: #80af79 ;
$brand-info: #447eaf ;
$brand-dangerLigth: #f7f0f0 ;
$brand-warningLigth: #f8f4d5 ;
$brand-successLigth: #f4f9f2 ;
$brand-infoLigth: #dfedf4 ;


//Operation Status colors
$brand-status-draft: 	#808184;
$brand-status-reopened: 	#333333;
$brand-status-created: 	#333333;
$brand-status-signed: 	#dbad2b;
$brand-status-approved: 	$brand-status-signed;
$brand-status-released: 	#6fbd44;
$brand-status-process: 	#4776ba;
$brand-status-denied: 	#ce2439;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.
$title-font: Arial, Helvetica, sans-serif;
$title-font-bold: $title-font;

//Bootstrap colors: DO NOT USE THEM!
$gray-base:             #000000 !default;
$gray-darker:           $brand-font-header; //lighten($gray-base, 13.5%) !default; // #222
$gray-dark:             $brand-font-darkBlueGrey;  //545454 
$gray:                  $brand-font-darkGrey; //818181
$gray-light:            $brand-font-grey; //c6c6c6
$gray-lighter:          $brand-background; //eee
$gray-advanced:         $brand-font-grey;


$brand-primary:         $brand-primary; 
$brand-primary-dark:    darken($brand-primary, 20.5%); 
$brand-primary-light:   lighten($brand-primary, 20.5%);
$brand-secondary:       $brand-secondary;
$brand-success:         $brand-success;
$brand-success-light:   $brand-successLigth;
$brand-success-medium:  lighten($brand-success, 20%);
$brand-info:            $brand-info;
$brand-info-light:      $brand-infoLigth;
$brand-info-medium:  	lighten($brand-info, 40%);
$brand-warning:         $brand-warning ;
$brand-warning-light:   $brand-warningLigth ;
$brand-warning-medium:  lighten($brand-warning, 20%);
$brand-danger:          $brand-primary ;
$brand-danger-light:    $brand-dangerLigth ;
$brand-danger-medium:   lighten($brand-danger, 40%) ;

$brand-link:            $brand-font-link;
$brand-background:      $brand-background;

$font-primary:          $brand-font-darkBlueGrey;
$font-dark:             $brand-font-darkGrey;

$font-light:            $brand-font-blueGrey;
$font-lighter:          $brand-font-grey;
$font-header:           $brand-font-header;

$alert-danger:          $brand-primary;
$alert-danger-light:    $brand-dangerLigth;
$alert-info:            $brand-info;
$alert-info-light:      $brand-infoLigth;
$alert-warning:         $brand-warning;
$alert-warning-light:   $brand-warningLigth;
$alert-success:         #80af79;
$alert-success-light:   $brand-successLigth;

$button-primary-hover:  $brand-primary-hover;
$button-secundary-hover:$brand-secondary;
$button-table-hover:    $brand-secondary-hover;
$button-disable:        0.3;


$table-checked:         $brand-infoLigth;
$table-cout:         	$brand-font-grey;




//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  Arial, Helvetica, sans-serif;



//FONTS brand
$font-size-base:          14px !default;
$font-size-large:         18px;
$font-size-small:         12px; 
$font-size-tiny:          10px; 
 
$font-size-label:         12px; 
$font-size-input:         12px; 
$font-size-table:         12px; 
$font-size-sections-link: 13px;
$font-size-alertTitle:    18px; 

$font-size-h1:            26px; // ~36px
$font-size-h2:            21px; // ~30px
$font-size-h3:            18px; // ~24px


// FontAwesome
$fa-font-path: "../fonts/font-awesome";

// == Bootstrap Select
$width-default: 100%; // 3 960px-grid columns
